nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 0 26px;
    list-style-type: none;
}

nav li {
    height: 50px;
    display: inline-flex;
    align-items: center;
}

nav li.r-item {
    float: right;
}

nav li a {
    padding: 2px 10px;
    text-decoration: none;
}

nav li a#gh-link {
    color: transparent;
    width: 18px;
    height: 18px;
    padding: 0 10px;
    background-image: url("https://github.githubassets.com/favicons/favicon.svg");
    background-repeat: round;
}

nav li a#gh-link:hover {
    color: transparent;
    background-color: transparent;
}

nav li a:hover {
    color: white;
    background-color: #000055ff;
}

nav li a.active {
    color: white;
    background-color: #000055ff;
}

nav li label {
    padding: 2px 10px;
}

/**
 * iPhone 5             : 320 x 568
 * iPhone 6/7/8         : 375 x 667
 * iPhone 11 Pro        : 375 x 812
 * Pixel 7              : 412 x 915
 * iPhone 6/7/8 Plus    : 414 x 736
 * iPhone 11            : 414 x 896
 * iPhone 12/14         : 390 x 844
 * iPhone 14/15 Pro Max : 430 x 932
 */
@media
only screen and (min-width: 320px) and (max-width: 430px) and (orientation: portrait),
only screen and (min-width: 568px) and (max-width: 932px) and (orientation: landscape) {
    nav ul {
        padding: 0 12px;
    }
}