
nav {
  background-color: #86b918ff;
  margin: 0 auto;
  width: 100%;
}

nav a#prev {
  background-image: url("../img/prev.svg");
}

nav a#next {
  background-image: url("../img/next.svg");
}

nav a#prev,
nav a#next {
  width: 22px;
  height: 22px;
  background-repeat: round;
  padding: 0;
}

nav a#prev:hover,
nav a#next:hover {
  background-color: transparent;
}

nav a#s-logo {
  width: 40px;
  height: 40px;
  background-image: url("../img/h-logo.svg");
  background-repeat: round;
  padding: 0;
}

header a#s-logo:hover {
  background-image: url("../img/w-logo.svg");
  background-color: transparent;
}

nav ul {
  margin: 0;
  padding: 0 26px;
  display: flex;
  list-style-type: none;
}

nav li#ti-1 {
  flex: .8;
}

nav li#ti-0,
nav li#ti-2 {
  flex: .1
}

nav input[type=checkbox]#b-menu,
nav input[type=checkbox]#t-menu,
nav input[type=checkbox]#spread {
  display: none;
  width: 22px;
  height: 22px;
}

nav input[type=checkbox]#spread+label {
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background-image: url("../img/s-none.svg");
  background-repeat: no-repeat;
  background-position: center;
}

nav input[type=checkbox]#spread:checked+label {
  background-image: url("../img/s-auto.svg");
}

nav input[type=checkbox]#b-menu+label,
nav input[type=checkbox]#t-menu+label {
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

nav input[type=checkbox]#b-menu+label {
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

nav input[type=checkbox]#b-menu:checked+label {
  background-image: url("../img/prev.svg");
}

nav input[type=checkbox]#t-menu+label {
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

nav input[type=checkbox]#t-menu:checked+label {
  background-image: url("../img/prev.svg");
}

nav input[type=range] {
  width: 100%;
}

/*#range-value {
  position: absolute;
  top: 96px;
}*/

nav li {
  align-items: center;
  display: flex;
  width: 100%;
  min-height: 44px;
  margin: 0;
  padding: 0;
  border-top: 3px solid #86b918ff;
  border-bottom: 3px solid #86b918ff;
}

nav li#mi-0 {
  display: none;
}

nav li#mi-5 {
  justify-content: right;
}

nav li.l-item {
  justify-content: left;
}

nav li.c-item {
  justify-content: center;
}

nav li.r-item {
  justify-content: right;
}

nav li.active {
  border-top: 3px solid #86b918ff;
  border-bottom: 3px solid #000055ff;
}

nav li a {
  padding: 2px 10px;
  text-decoration: none;
}

nav li a:hover {
  color: white;
  background-color: #000055ff;
}

nav li a.active {
  color: white;
  background-color: #000055ff;
}

nav li label {
  padding: 2px 10px;
}

nav li a#gh-link {
  color: transparent;
  width: 18px;
  height: 18px;
  padding: 0 10px;
  background-image: url("https://github.githubassets.com/favicons/favicon.svg");
  background-repeat: round;
}

nav li a#gh-link:hover {
  color: transparent;
  background-color: transparent;
}

/**
 * iPhone 5             : 320 x 568
 * iPhone 6/7/8         : 375 x 667
 * iPhone 11 Pro        : 375 x 812
 * Pixel 7              : 412 x 915
 * iPhone 6/7/8 Plus    : 414 x 736
 * iPhone 11            : 414 x 896
 * iPhone 12/14         : 390 x 844
 * iPhone 14/15 Pro Max : 430 x 932
 */
@media only screen and (min-width: 320px) and (max-width: 568px) {
  nav ul {
    padding: 0 12px;
  }
  nav li#mi-0 {
    display: flex;
  }
  nav li#mi-1 {
    justify-content: center;
  }
  nav ul.m-line,
  nav ul.m-list {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  nav ul.m-line li#mi-2,
  nav ul.m-line li#mi-3,
  nav ul.m-line li#mi-4 {
    display: none;
  }
  nav ul.m-list li#mi-2,
  nav ul.m-list li#mi-3,
  nav ul.m-list li#mi-4 {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  nav ul.m-list li#mi-2 {
    grid-row: 2;
  }
  nav ul.m-list li#mi-3 {
    grid-row: 3;
  }
  nav ul.m-list li#mi-4 {
    grid-row: 4;
  }
  nav ul.m-list li#mi-5 {
    grid-row: 1;
    grid-column: 3;
  }
}
